19.04.2025

In [2]:
import datetime

In [3]:
name = input("Введите свое имя: ")
birthYear = int(input("Введите год рождения (YYYY): "))

In [4]:
nowYear = datetime.date.today().year
age = nowYear - birthYear

In [5]:
print("Привет,", name + "!")
print("Тебе уже "+str(age)+" года!")

Привет, Илья!
Тебе уже 44 года!

In [6]:
print("Привет, {}!\nТебе уже {} года!".format(name, age))

Привет, Максим!
Тебе уже 22 года!

In [7]:
# Пример условия
x = int(input("Введите число: "))
if x%2 == 0:
    print("Число четное")
else:
    print("Число нечетное")

Число нечетное

In [8]:
try:
    x = int(input("Ведите класс: "))
    if x < 1 or x > 11:
        print("Ошибка. Класса не существует.")
    elif x < 5:
        print("Начальная школа")
    elif x < 10:
        print("Средняя школа")
    else:
        print("Старшая школа")
except:
    print("Ошибка ввода данных")

Средняя школа

In [9]:
# Пустой список
empty_list = []

# Список с элементами разных типов
mixed_list = [1, 'hello', 3.14, True]

# Список чисел
numbers = [1, 2, 3, 4, 5]

# Список строк
fruits = ['apple', 'banana', 'orange']

## Пример цикла for для списка
```
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)
```

## while цикл
Цикл while выполняет блок кода, пока условие остается истинным. Пример:

### Пример цикла while
```
count = 0

while count < 5:
    print("Текущее значение count:", count)
    count += 1
```
Этот цикл while выполняется, пока count меньше 5, и выводит текущее значение count на каждой итерации.

In [13]:
letters = list(name)
for item in letters[1::2]:
    print(item)

л
я

In [14]:
res = 0
for x in range(101): # range не учитывает последнее число!
    res +=x
print(res)

5050

In [16]:
# Вводим номер месяца
# Получаем название
strMonth = "Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь"
month = strMonth.split(",")
try:
    num = int(input("Введите номер месяца: "))
    if num <= 1 or num > 12:
        print("Неверный номер месяца!")
    else:
        print(month[num-1])
except:
    print("Неверный номер месяца!")

Май

In [17]:
month = ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"]
num = int(input("Введите номер месяца: "))
print(month[num-1])

Май

## Функции
### Пример определения функции

```
def greet(name):
    # Функция приветствия
    print("Привет, " + name + "!")
```

### Пример вызова функции

```greet("Анна")```

In [18]:
# Получить от пользователя числа. Возвести каждое число в квадрат

def square(x):
    print(x**2)

numLoop = int(input("Сколько чисел будем считать? "))

for i in range(numLoop):
    try:
        num = int(input("Введите число: "))
        square(num)
    except:
        print("Неверный формат данных")

1
4

In [19]:
# Пример функции с возвращаемым значением
def add_numbers(a, b):
    """Функция сложения двух чисел"""
    return a + b

numLoop = int(input("Сколько примеров будем считать? "))

for i in range(numLoop):
    try:
        num1 = int(input("Введите число 1: "))
        num2 = int(input("Введите число 2: "))

        print(f"Пример {i+1}. Сумма чисел: {add_numbers(num1, num2)}")
    except:
        print("Неверный формат данных")

Пример 1. Сумма чисел: 13